.container {
    display: flex;
}
nav {
    background-color: blue;
}
.main {
    background-color: yellow;
    display: inline-block;
    flex-grow: 1;
    text-align: center;
}
aside {
    background-color: aqua;
}
footer {
    background-color: chartreuse;
}
footer div {
    display: inline-block;
}

footer div ul.nobullets {
    list-style-type: none;
}