.container {
    width: 1024px;
    background-color: brown;
    margin: 0 auto;
}
nav {
    background-color: blue;
}
main {
    background-color: cornflowerblue;
}
aside {
    background-color: aqua;
}
footer {
    background-color: chartreuse;
}
footer div {
    display: inline-block;
}

footer div ul.nobullets {
    list-style-type: none;
}